*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# IntelliJ IDEA project and Android Studio IDE files to ignore
/.idea/.gitignore
/.idea/AndroidProjectSystem.xml
/.idea/androidTestResultsUserPreferences.xml
/.idea/compiler.xml
/.idea/deploymentTargetSelector.xml
/.idea/gradle.xml
/.idea/migrations.xml
/.idea/misc.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/deviceManager.xml
